/*--------------------------------------------
Button Blue CSS
--------------------------------------------*/
QPushButton {
    color: white; 
    background: #d13135;
    border: none;
    border-radius: 12px;
    min-width: 5em;
    padding: 6px;
    margin: 0px;
}
QPushButton:hover{
    background: rgba(209,49,53, 85%);
}
QPushButton:pressed {
    background: #d13135;
    color: #ffffff;
}
QPushButton::disabled {
    color: rgba(255, 255, 255, 40%);
    background: rgba(209,49,53, 60%);
}
